body {
   background-color: lightsteelblue;
}

.container {  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 30%;     
    height: 400px;
    outline:  red solid 2px;
    background-color: white;
}

.container_tittle {
    margin: 10px;
    width: 100%;
    text-align: center;
}

.container_img {
    margin: 10px;
    width: 100%;
}

.file-input input{
    border: darkgray dashed 3px;
    border-radius: 12px;
    width: 100%;
    background-color: lightgray;
    
}
