*{
    font-family: 'Hind', sans-serif;
}

body {
   background-color: #f5f5f6;
   color: #5c5c5c;
   font-size: 0.78em;
   
}
.main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 400px;     
    height: 470px;
    border-radius: 1em;
    padding: 1em;
    background-color: white;
    -webkit-box-shadow: 0px 46px 56px -13px rgba(15,35,107,0.18);
    -moz-box-shadow: 0px 46px 56px -13px rgba(15,35,107,0.18);
    box-shadow: 0px 46px 56px -13px rgba(15,35,107,0.18);
}

.container_tittle {
    text-align: center;
}

.container_form {
    width: 80%;
}

.file-input {
    display: none;    
}
.area{
    margin: auto;
    display: block;
    height: 210px;
    cursor: pointer;
    background-color:#f7f8fc;
    border: #9bc0ef dashed 2px;
    border-radius: 12px;
    padding: 0px 1em 2em 1em;
}
.area img{
    object-fit: contain;
    filter: grayscale(20%);
    padding: 2em;
    width: 100%;
    height: 80%;
}
.area b{
    display:block;
    width: 100%;
    text-align: center;
    color: #AEB0B6;
}

.container_form p:nth-child(3) {
    display: block;
    padding: 1.2em 0px 1.8em 0px ;
    text-align: center;
}

.bt-form {
    display: block;
    text-align: center;
}
button{
    font-size: 2em;
    background-color: #2b7fed;
    color: white;
    width: 30%;
    padding: 10px;
    border-radius: 6px;
    border-style: none;
}
