<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap" rel="stylesheet">
    <title>Upimage</title>
</head>
<body>
    <div class="center">
        <div class="container">
            <div class="container_tittle">
                <h1>Upload your image</h1>
                <p>File should be Jpeg, Png...</p>
            </div>
            <div class="container_img">
            <form action="/" method="POST" enctype="multipart/form-data">
                    <p><input  type="file" class="file-input" name="image" id="image"></p>
                    <p> <label for="image" class="area"></label></p>  
                <b>Or</b>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
            </div>
        </div>
    </div>
</body>
</html>